<style type="text/css">
  .bod{
    background-image: url("img/God.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    position: fixed; top: 0px; left: 0px; width: 160%; height: 120%;
    
  }
</style>
<body>
  <div class="bod">

  </div>
  <%- include layouts/layout.ejs %>
  <h1 style="color:black">Welcome to the World of FootBall</h1>
</body>
