<style type="text/css">
  .bod{
    background-image: url("img/messi-ronaldo.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    position: fixed; top: 150px; left: 700px; width: 40%; height: 65%;

  }
  .God {
    text-align: right;
    padding-right: 150px;
    text-shadow: 3px 2px grey;
  }
  .God1{
    background-image: url("img/God1.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    position: fixed; top: 80px; left: 0px; width: 40%; height: 105%;

  }
</style>
<body bgcolor="#cccccc">
  <div class="bod">

  </div>
  <%- include layouts/layout.ejs %>
  <div class="God">
    <h1><i>Ronaldo is better than Messi...</h1>
  </div>
  <div class="God1">

  </div>
</body>
